Reset
*, *::before, *::after {
    box-sizing: border-box;
}

/* Root */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Page */
body {
    margin: 0;
    font-family: "Inter", system-ui, sans-serif;
    background-color: #000000;
    padding: 8;
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.navbar-logo{
    color: white;
    font-size: 2rem;
}

.navbar-logo:hover{
    cursor: pointer;
}

.home-btn{
    width: auto;
    height: auto;
    background-color: #1f1f1f;
    border: none;
    color: #b3b3b3; 
    font-size: 1.5rem;
    padding: 12px;
    border-radius: 100%;
    margin-right: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.home-btn:hover{
    background-color: #2a2a2a;
    cursor: pointer;
    color: #f9f9f9;
}

.searchbar{
    display: flex;
}

.searchbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color:#1f1f1f;
    border-radius: 45px;
    padding: 0 10;
}

.search-btn {
    font-size: 1.5rem;
    color: #b3b3b3; 
    height: 2rem;
    width: 1.5rem;
    background-color: transparent;
    font-weight: 300;
    border: none;
    padding: 0;
    margin-right: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.search-btn:hover {
    cursor: pointer;
    color: #f9f9f9;
}


.searchInput{
    background-color:transparent;
    border: none;
    color: white;
    font-size: 16px;
    height: 3rem;
    width: 29.7rem;
    padding: 0;
}

.searchInput::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #b3b3b3;
}

.searchInput:focus{
    outline: none;
    border: none;
}

.divider{
    border: 1px solid;
    border-color:#b3b3b3;
    height: 100%;
    margin: 0 15px;
    height: calc(100% - 15px);
}

.browse-btn{
    font-size: 1.5rem;
    color: #b3b3b3; 
    border: none;
    height: 2rem;
    width: 1.5rem;
    background-color: transparent;
    font-weight: 300;
    padding: 0;
    transition: transform 0.2s ease, color 0.2s ease;
    margin-right: 5px;
}

.browse-btn:hover {
    cursor: pointer;
    color: #f9f9f9;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.premium-btn{
    font-weight: bold;
    font-size: 1rem;
    padding: 4px 16px;
    border: none;
    border-radius: 45px;
    white-space: nowrap;
    transition: transform 0.2s ease, color 0.2s ease;
}

.premium-btn:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: #e0e0e0;
}


.install-btn{
    background-color: transparent;
    color: #b3b3b3;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.install-btn:hover{
    cursor: pointer;
    color: #f9f9f9;
}

.notifyfriend-btn{
    background-color: transparent;
    color: #b3b3b3;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    transition: transform 0.2s ease, color 0.2s ease;
}

.notifyfriend-btn:hover{
    cursor: pointer;
    color: #f9f9f9;
}

.profile-btn{
    font-size: 1.5rem;
    width: 50px;        /* width of the avatar */
    height: 50px; 
    font-weight: bold;
    background-color: orangered;
    border-radius: 50%;
}

.profile-btn:hover{
    cursor: pointer;
    background-color: #ff6347;
} 

