.player {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    padding: 8;
}

.player-center {
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-right {
    justify-self: end;
}

.first-row{
    margin-bottom: 10px;
}

.player-shuffle, .player-backward,
.player-forward{
    border: none;
    background-color: transparent;
    color: #b3b3b3;
    font-size: 14px;
}

.player-shuffle, .player-backward,
.player-forward:hover{
    cursor: pointer;
    color: #f9f9f9;
}

.play{
    padding: 8px;
    font-size: 14px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.play:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.player-line{
    border: 2px solid;
    border-radius: 8px;
    width: 40rem;
    margin-bottom: 0px;
}

.player-lyrics, .player-device,
.player-volume, .player-fullscreen{
    border: none;
    background-color: transparent;
    color: #b3b3b3;
    font-size: 14px;
}

.player-lyrics, .player-device,
.player-volume, .player-fullscreen:hover{
    cursor: pointer;
    color: #f9f9f9;
}
