Reset
*, *::before, *::after {
    box-sizing: border-box;
}

/* Root */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Page */
body {
    margin: 0;
    font-family: "Inter", system-ui, sans-serif;
    background-color: #000000;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: auto;
    height: 4rem;
    align-items: center;
    justify-content: space-between  ;
}

.navbar-logo{
    color: white;
    font-size: 2rem;
}

.home-btn{
    width: auto;
    height: auto;
    background-color: #1f1f1f;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 12px;
    border-radius: 100%;
}

.home-btn:hover{
    background-color: #2a2a2a;
    cursor: pointer;
}

.search-wrapper {
    position: relative; /* needed for absolute icon */
    display: inline-block;
}

.search-btn {
    position: absolute;
    left: 4px; /* distance from input's left edge */
    top: 50%;    /* vertical center */
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #b3b3b3; 
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: #1f1f1f;
    font-weight: 300;
}

.search-btn:hover {
    cursor: pointer;
}


.searchInput{
    background-color:#1f1f1f;
    border: none;
    color: white;
    font-size: 16px;
    height: 3rem;
    padding: 12px 0;
    padding-left: 48px;
    padding-right: 96px;
    border-radius: 45px;
    width: 29.7rem;
}

.searchInput::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #b3b3b3;
}

.browse-btn{
    position: absolute;
    right: 12px; /* distance from input's right edge */
    top: 50%;    /* vertical center */
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #b3b3b3; 
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: #1f1f1f;
    font-weight: 300;
}

.browse-btn:hover {
    cursor: pointer;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.premium-btn{
    font-weight: bold;
    font-size: 14px;
    padding: 4px 16px;
    border: none;
    border-radius: 1px;
    height: 2rem;
}

/* .navbar-left {
    text-decoration: none;
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 700;
    transition: transform 0.2s ease, color 0.2s ease; /* smooth animation 
} */

/* .navbar-left:hover {
    color: #f9f9f9;
    cursor: pointer;
    transform: scale(1.05);
} */
